# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User-specific
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# OS generated
.DS_Store
Thumbs.db

# Rider / VSCode / JetBrains
.idea/
.vscode/
*.suo
*.userprefs
